
html {
	font: 100%/1.5 "Open Sans", sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  }
  @media (min-width: 40rem) {
	html { font-size: 112%; }
  }
  
  @media (min-width: 64rem) {
	html { font-size: 120%; }
  }
body{
	margin: 0;
}
.space{
	background-color: #497bad;
	width: 100%;
	height: 500px;
	top:0;
	text-align: center;
	
	/*position: absolute;*/
}
.space h1{
	float: center;
	/*background-color: #49fbff;*/
	padding: 10px;
	font-size: 2rem;
	display: inline-block;
	position: center;
	margin-top: 8rem;
	color:#f2f2f2
	/*margin: 100px;*/
}
.space p {
	color: rgba(255,255,255,0.7);
	margin: 0 auto;
	padding: 10px;
  }
  
.space a {
	color: rgba(255,255,255,0.9);
	text-decoration: underline;
  }
   a:hover { text-decoration: none; }
nav {
  overflow: hidden;
  background-color: #497bad;
  position: fixed ; 
  top: 0; 
  
  width: 100%; 
  
}
nav ul{
	list-style-type: none;
  	margin: 0;
  	padding: 0;

  	float: right;
}


nav li a {
	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}

nav li a:hover {
  background-color: #ddd;
  color: black;
}


nav li a.active {
  background-color: #04AA6D;
  color: white;
}
.main {
  margin-top: 30px; 
}


.container_escuro{
	background-color: #497bad;
	height: 200px;
	display: block;
}

.container_claro{
	
	
	width: 100%;
	height: 30rem;
	display: block;
	border-bottom: 2px solid #e6ecf0;
	border-top: 2px solid #e6ecf0;
	color:#657786;
}	

.container_claro .container {

	
	float:left;
    max-width:30rem;
    margin-left:10px;
	display: block;
	margin-top:50px;
	margin-left:150px;
	max-width: 30%;
	
	
}


.img1{
	margin-top:50px;
	margin-left: 20%;
	height: 25rem;
	float:left;
}
.tag{
	margin-left: 55%;
	margin-top: 80px;
}
.tag p{
	background-color: rgb(203, 232, 248);
	border: 1px solid rgb(125, 188, 224);
	margin: 5px;
	display: inline-block;
	padding :5px 10px;
	border-radius:20px;
}
.tag img{
		
	margin: 5px;
	display: block;

	margin-left: 95px;
	height: 50px;
}
















img {
	max-width:100%;
  }
  .avator {
	border-radius:100px;
	width:48px;
	margin-right: 15px;
  }
  
  
  .tweet-wrap {
	max-width:490px;
	background: #fff;
	margin: 0 auto;
	margin-bottom: 100px;
	margin-top: 100px;
	border-radius:3px;
	padding: 30px;
	border-bottom: 1px solid #e6ecf0;
	border-top: 1px solid #e6ecf0;
  }
  
  .tweet-header {
	display: flex;
	align-items:flex-start;
	font-size:14px;
  }
  .tweet-header-info {
	font-weight:bold;
  }
  .tweet-header-info span {
	color:#657786;
	font-weight:normal;
	margin-left: 5px;
  }
  .tweet-header-info p {
	font-weight:normal;
	margin-top: 5px;
	
  }
  .tweet-img-wrap {
	padding-left: 60px;
	
  }
  
  .tweet-info-counts {
	display: flex;
	margin-left: 60px;
	margin-top: 10px;
  }
  .tweet-info-counts div {
	display: flex;
	color:#657786;
	margin-right: 20px;
  }
  .tweet-info-counts div svg {
	color:#657786;
	margin-right: 10px;
  }
  @media screen and (max-width:430px){
	.container_claro{
	
	
		width: 100%;
		height: 60rem;
		display: block;
		border-bottom: 2px solid #e6ecf0;
		border-top: 2px solid #e6ecf0;
		color:#657786;
	}	
	
	.container_claro .container {
	
		
		float:left;
		max-width:30rem;
		margin-left:10px;
		display: block;
		margin-top:10px;
		margin-left:50px;
		max-width: 80%;
		
		
	}
	
	
	.img1{
		margin-top:50px;
		margin-left: 25%;
		height: 25rem;
		float:left;
	}
	.tag{
		margin-left: 40%;
		margin-top: 20%;
	}
	.tag p{
		background-color: rgb(203, 232, 248);
		border: 1px solid rgb(125, 188, 224);
		margin: 5px;
		display: inline-block;
		padding :5px 10px;
		border-radius:20px;
	}
	.tag img{
		
		margin: 5px;
		display: block;
	
		margin-left: 80px;
		height: 50px;
	}
	

















	.tweet-header {
	  	flex-direction:column;
	}
	.tweet-header img {
	  	margin-bottom: 20px;
	}
	.tweet-header-info p {
	  	margin-bottom: 30px;
	}
	.tweet-img-wrap {
	  	padding-left: 0;
	}
	.tweet-info-counts {
		color:rgba(255,255,255,0.7);
		display: flex;
		margin-left: 0;
  }
  .tweet-info-counts div {
	margin-right: 10px;
  }
  }